body {
    font-family: 'Roboto', sans-serif;
    color: #F9FAF8;
}



header {
    background-color: #1F2937;
    color: #F9FAF8;
}

.header {
    display: flex;
    flex-direction: column;
    margin: 0px 50px 0px 50px;
    max-width: 100%;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top-item {
    flex: 1;
}

.header-top-item h1 {
    font-size: 24px;
}

.header-links {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

.header-links li {
    padding: 10px;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 400px;
}

.header-bottom-item {
    flex: 1;
}

.header-bottom-item h1 {
    font-size: 48px;
    margin-top: 0;
}

.header-bottom-item p {
    font-size: 18px;
    color: #E5E7EB;
    padding-right: 60px;
}

.header-bottom-item img {
    max-width: 100%;
}

.header-bottom-item button {
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 5px;
}

.main-top {
    height: 400px;
    color: black;
}

.main-top h1 {
    text-align: center;
    padding-top: 20px;
}

.main-list-container {
    display: flex;
    justify-content: center;
}


.main-list {
    list-style-type: none;
    display: flex;
    place-items: center;
}

.main-list li {
    padding: 20px;
}

.main-middle {
    height: 400px;
    background-color: #E5E7EB;
    display: flex;

}

.quote {
    margin: 50px;
    font-size: 36px;
}

.quote p {
    color: #1F2937;
    text-align: center;
}

.quote-author p {
    text-align: end;
}

.main-bottom {
    display: flex;
    justify-content: center;
    height: 400px;
}

.action-box {
    margin: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    width: 100%;
    border-radius: 10px;
}
    
.action-box-item {
    padding: 20px 110px 20px 110px;
}

.action-button {
    background-color: #3882F6;
    border-color: #F9FAF8;
    font-size: 20px;
    border-width: 3px;
    color: #F9FAF8;
    border-radius: 5px;
}

footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}